.logo{
    a{
        font-size: 22px;
        color:black;
        display: block;
        text-decoration: none;
    }

    span{

    }
}

header{
    padding: 20px 0;
    border-bottom: 1px silver solid;
}

main{
    padding: 20px 0;
}

